
# /
Temp
Library
target
test-results
obj
*.csproj
*.pidb
*.sln
*.suo
*.userprefs
*.patch
*.log
*.pyc

Release/Android/AndroidManifest_DragonBoxPlus.xml
Release/Android/AndroidManifest_DragonBox.xml

.DS_Store
Assets/Script/Version.cs
Assets/Plugins/Android/AndroidManifest.xml
Assets/Plugins/Android/AndroidManifest.xml.meta
Assets/Editor/UpdateXcode.pyc.meta
Msi/*.log
Msi/*.wixobj
Msi/*.wixpdb
Msi/DragonBox_win32/
Msi/obj/
node_modules/
